@{
    var page_id = ViewData["PageId"] as int? ?? 0;
}

@{
    ViewData["Title"] = "Quality Assurance of Audit Para";
    Layout = "_Layout";
}
<style type="text/css">
    .action-col {
        width: 1%;
        white-space: nowrap;
    }
</style>
<script type="text/javascript">
    var g_observationId = 0;
    var g_obsId = 0;
    var g_engId = 0;
    var g_respUsersArr = [];
    var g_procId = 0;
    var g_subProcId = 0;
    var g_procDetailId = 0;
    var g_selectedRiskId = 0;
    var respSection = null;
    var g_annexList = @Json.Serialize(ViewData["AnnexList"]);

    $(document).ready(function () {
        $('#preConcludingActionHandler').addClass("d-none");
            $('#viewMemo_memo_ObSent').richText({
             imageUpload: false,
             fileUpload: false,
             videoEmbed: false,
             urls: false
         });
        $('#viewMemo_annex_ObSent').on('change', updateRiskDisplay);
        respSection = initResponsibilitySection({
            tableSelector: '#update_listofRespPersons',
            changesTableSelector: '#c_update_listofRespPersons',
            modalSelector: '#ResponsiblePPModel',
            status: 7,
            directSaveMode: false,
            afterSave: function () {
                respSection.reload();
                viewObservationDetails(g_obsId, $('#checklistDetailsPanel tbody tr#obs_' + g_obsId + ' .preconcludingStatusField').text());
            }
        });



            document.getElementById('viewMemo_amount_ObSent').addEventListener('input', function (e) {
        this.value = this.value.replace(/\D|^0(?=\d)/g, ''); // Removes decimals and leading zeros
    });

     });

     function getEntityObservations() {
          var flag = 0;
         if($('#entitySelectField').val()==0){
              $('#checklistDetailsPanel tbody').empty();
             $('#preConcludingActionHandler').addClass("d-none");
              return;
         }
         g_engId = $('#entitySelectField').val();
         $('#engIdHidden').val(g_engId);
         if (respSection) {
             respSection.updateContext({ engId: parseInt(g_engId || 0) });
         }
         $.ajax({
             url: g_asiBaseURL + "/ApiCalls/get_obs_for_pre_concluding",
             type: "POST",
             data: {
                 'ENG_ID': g_engId
             },
             cache: false,
             success: function (data) {
                 $('#checklistDetailsPanel tbody').empty();
                 var sr = 1;
                 $.each(data, function (i, v) {

                     if (v.status.toLowerCase() == "completed")
                     {
                        $('#checklistDetailsPanel tbody').append('<tr id="obs_' + v.id + '"><td class="text-center">' + v.finaL_PARA_NO + '</td><td class="branchfield">' + v.heading + '</td><td>' + v.obS_RISK + '</td><td>' + v.obS_STATUS + '</td><td class="preconcludingStatusField">' + v.status + '</td><td><a href="#" onclick="viewObservationDetails(' + v.obS_ID + ', \''+v.status+'\');" class="text-hover text-success ml-5px"><small>View Details</small></a></td></tr>');
                     }
                     else{
                        $('#checklistDetailsPanel tbody').append('<tr id="obs_' + v.id + '"><td class="text-center">' + v.finaL_PARA_NO + '</td><td class="branchfield">' + v.heading + '</td><td>' + v.obS_RISK + '</td><td>' + v.obS_STATUS + '</td><td class="preconcludingStatusField">' + v.status + '</td><td><a href="#" onclick="viewObservationDetails(' + v.obS_ID + ', \''+v.status+'\');" class="text-hover text-success ml-5px"><small>View Details</small></a></td></tr>');
                        flag++;
                     }
                     sr++;
                 });

                 if (flag > 0) {
                     $('#preConcludingActionHandler').addClass("d-none");
                 } else if(flag==0  && data.length >0)  {
                     $('#preConcludingActionHandler').removeClass("d-none");
                 }
                 else{
                     $('#preConcludingActionHandler').addClass("d-none");
                 }
             },
             dataType: "json",
         });
     }

     function reloadLocation() {
         getEntityObservations();
     }

      function viewObservationDetails(obsId, status){
          g_obsId=obsId;
          $('#viewMemoDetailsModel').modal('show');

          if(status=="Pending"){
              $('#update_audit_obs_button').removeClass("d-none");
              $('#gist_recom_inc_pre_con').removeClass("d-none");

          }else{
              $('#update_audit_obs_button').addClass("d-none");
              $('#gist_recom_inc_pre_con').addClass("d-none");
          }

           $('#viewMemo_heading_ObSent').val('');
           $('#viewMemo_memo_ObSent').val('').trigger('change');
           $('#viewMemo_response_ObSent').html('');
           $('#viewMemo_aud_reply_ObSent').html('');
            $('#viewMemo_head_reply_ObSent').html('');
           $('#viewMemo_head_reply_ObSent').html('');
           $('#viewMemo_annex_ObSent').val(0);
           $('#viewMemo_risk_display').val('');
           g_selectedRiskId = 0;
           $('#viewMemo_process_ObSent').val(0);
            $('#viewMemo_amount_ObSent').val(0);
           $('#viewMemo_inst_ObSent').val(0);

             $('#gistPara_response_ObSent').val('');
           $('#audRecommend_response_ObSent').val('');

            $.ajax({
               url: g_asiBaseURL + "/ApiCalls/get_obs_details_by_id_pre_con",
              type: "POST",
              data: {
                  'OBS_ID': g_obsId
              },
              cache: false,
              success: function (data) {
           $('#viewMemo_heading_ObSent').val(data.heading);
           $('#viewMemo_memo_ObSent').val(data.observatioN_TEXT).trigger('change');
           $('#viewMemo_response_ObSent').html(data.auditeE_REPLY);
           ViewAuditeeAttachedEvidences();
           $('#viewMemo_aud_reply_ObSent').html(data.auditoR_RECOM);
            $('#viewMemo_head_reply_ObSent').html(data.heaD_RECOM);
           $('#viewMemo_annex_ObSent').val(data.annexurE_ID);
           g_selectedRiskId = data.riskmodeL_ID;
           updateRiskDisplay();
           $('#viewMemo_process_ObSent').val(data.procesS_ID);
           $('#viewMemo_paraNo_ObSent').val(data.finaL_PARA_NO);
           $('#viewMemo_amount_ObSent').val(data.amounT_INVOLVED);
           $('#viewMemo_inst_ObSent').val(data.nO_OF_INSTANCES);

           $('#gistPara_response_ObSent').val(data.qA_GIST);
           $('#audRecommend_response_ObSent').val(data.qA_RECOM);

           g_procId=data.procesS_ID;
           g_subProcId=data.subchecklisT_ID;
        g_procDetailId=data.checklistdetaiL_ID;
        getSubCheckListOfProcess();
        respSection.updateContext({
            newParaId: data.neW_PARA_ID || g_obsId,
            oldParaId: data.olD_PARA_ID || 0,
            indicator: data.indicator || '',
            comId: 0,
            engId: parseInt($('#engIdHidden').val() || 0),
            readOnly: false
        });
        //respSection.reload();
                 initReferenceSection(g_obsId, false, '#viewMemoDetailsModel #referenceSection');
                 },
              dataType: "json",
          });
      }
      function getSubCheckListOfProcess() {
          $('#viewMemo_subprocess_ObSent').empty();
          $.ajax({
              url: g_asiBaseURL + "/ApiCalls/get_audit_sub_checklist",
              type: "POST",
              data: {
                  'PROCESS_ID': $('#viewMemo_process_ObSent').val()
              },
              cache: false,
              success: function (data) {
                  $('#viewMemo_subprocess_ObSent').append('<option value="0">--Select Sub-Checklist--</option>');
                  $.each(data, function (i, v) {
                      $('#viewMemo_subprocess_ObSent').append('<option value="' + v.s_ID + '">' + v.heading + '</option>');
                  });
                  if(g_subProcId!=0)
                      {
                          $('#viewMemo_subprocess_ObSent').val(g_subProcId);
                        getCheckListDetailOfSubProcess();
                      }


              },
              dataType: "json",
          });

      }
      function getCheckListDetailOfSubProcess() {
          var processId = $('#viewMemo_process_ObSent').val();
          var subProcessId = $('#viewMemo_subprocess_ObSent').val();
          if (processId != 0 && subProcessId !=0) {
                $('#viewMemo_checklist_ObSent').empty();
              $.ajax({
                  url: g_asiBaseURL + "/ApiCalls/get_audit_checklist_detail",
                  type: "POST",
                  data: {
                      'SUB_PROCESS_ID': subProcessId
                  },
                  cache: false,
                  success: function (data) {
                       $('#viewMemo_checklist_ObSent').append('<option value="0">--Select Checklist Detail--</option>');
                  $.each(data, function (i, v) {
                      $('#viewMemo_checklist_ObSent').append('<option value="' + v.s_ID + '">' + v.heading + '</option>');
                  });
                  if(g_procDetailId !=0)
                      $('#viewMemo_checklist_ObSent').val(g_procDetailId);

                  },
                  dataType: "json",
              });
          }

      }

      function updateRiskDisplay() {
          var annexId = $('#viewMemo_annex_ObSent').val();
          var riskName = '';
          g_selectedRiskId = 0;
          $.each(g_annexList, function (i, v) {
              var id = v.ID || v.id;
              if (id == annexId) {
                  riskName = v.RISK || v.risk;
                  g_selectedRiskId = v.RISK_ID || v.risK_ID;
              }
          });
          $('#viewMemo_risk_display').val(riskName);
          var color = '';
          if (riskName.toLowerCase() === 'high') {
              color = 'red';
          } else if (riskName.toLowerCase() === 'medium') {
              color = 'gold';
          } else if (riskName.toLowerCase() === 'low') {
              color = 'green';
          }
          $('#viewMemo_risk_display').css('color', color);
      }
        function ViewAuditeeAttachedEvidences() {
          $.ajax({
              url: g_asiBaseURL + "/ApiCalls/get_responded_obs_evidences",
              type: "POST",
              data: {
                  'OBS_ID': g_obsId
              },
              cache: false,
              success: function (data) {

                  $('#complianceCycleEvidences').empty();
                  if (data.length > 0) {
                      $.each(data, function (i, pp) {

                          var extension = pp.imagE_NAME.split('.').pop().toLowerCase();
                          const contentType = getContentType(extension);

                          // Create and append the attachment item
                          const container = document.createElement('div');
                          container.className = 'evidence-link';

                          // Add icon
                          const icon = document.createElement('i');
                          icon.className = getIconClass(extension) + ' evidence-icon mr-1';
                          container.appendChild(icon);

                          // Add label
                          const label = document.createElement('span');
                          label.innerText = pp.imagE_NAME;
                          label.classList.add('text-primary');

                          // Add cursor style to make it look like a link
                          label.style.cursor = 'pointer';
                          container.appendChild(label);

                          // Add click event to download file on selection
                          container.addEventListener('click', function () {
                              downloadFile(pp.filE_ID);
                          });

                          $('#complianceCycleEvidences').append(container);
                      });
                  }
                  else {
                      $('#complianceCycleEvidences').append("<i>No evidence is attached </i>");
                  }

              },
              dataType: "json",
          });
      }
      function downloadFile(id) {
          $.ajax({
              url: g_asiBaseURL + "/ApiCalls/get_auditee_evidence_data",
              type: "POST",
              data: {
                  'FILE_ID': id,
              },
              cache: false,
              success: function (data) {
                  var extension = data.imagE_NAME.split('.').pop().toLowerCase();
                  const contentType = getContentType(extension);

                  const blob = base64ToBlob(data.imagE_DATA, contentType);
                  const link = document.createElement('a');
                  link.href = URL.createObjectURL(blob);
                  link.download = data.imagE_NAME;
                  link.click(); // Trigger the download

              },
              dataType: "json",
          });


      }
      function getFileExtension(file) {
          var fileName = file.name;
          var extension = fileName.substring(fileName.lastIndexOf('.') + 1).toLowerCase();
          return extension;
      }
      function getIconClass(extension) {
          switch (extension) {
              case 'pdf': return 'fa fa-file-pdf';
              case 'zip': return 'fa fa-file-archive';
              case 'png':
              case 'jpg':
              case 'jpeg':
              case 'bmp': return 'fa fa-file-image';
              case 'doc':
              case 'docx': return 'fa fa-file-word';
              default: return 'fa fa-file';
          }
      }
      function getContentType(extension) {
          switch (extension) {
              case 'pdf': return 'application/pdf';
              case 'zip': return 'application/zip';
              case 'png': return 'image/png';
              case 'doc': return 'application/msword';
              case 'docx': return 'application/vnd.openxmlformats-officedocument.wordprocessingml.document';
              default: return 'application/octet-stream';
          }
      }
    function base64ToBlob(base64, contentType) {
        const byteCharacters = atob(base64);
        const byteArrays = [];

          for (let offset = 0; offset < byteCharacters.length; offset += 512) {
              const slice = byteCharacters.slice(offset, offset + 512);

              const byteNumbers = new Array(slice.length);
              for (let i = 0; i < slice.length; i++) {
                  byteNumbers[i] = slice.charCodeAt(i);
              }

              const byteArray = new Uint8Array(byteNumbers);
              byteArrays.push(byteArray);
          }

        const blob = new Blob(byteArrays, { type: contentType });
        return blob;
    }
    function openResponsiblePPs() {
        $('#ResponsiblePPModel').modal('show');
    }
      function updateObservationDetails(obsId){

          $.ajax({
              url: g_asiBaseURL + "/ApiCalls/update_audit_para_for_finalization",
              type: "POST",
              data: {
                  'OBS_ID': obsId,
                  'ANNEX_ID': $('#viewMemo_annex_ObSent').val(),
                  'PROCESS_ID': $('#viewMemo_process_ObSent').val(),
                  'SUB_PROCESS_ID': $('#viewMemo_subprocess_ObSent').val(),
                  'PROCESS_DETAIL_ID': $('#viewMemo_checklist_ObSent').val(),
                  'RISK_ID': g_selectedRiskId,
                  'FINAL_PARA_NO': $('#viewMemo_paraNo_ObSent').val(),
                  'GIST_OF_PARA': $('#viewMemo_heading_ObSent').val(),
                  'TEXT_PARA': $('#viewMemo_memo_ObSent').val(),
                  'AMOUNT_INV': $('#viewMemo_amount_ObSent').val(),
                  'NO_INST': $('#viewMemo_inst_ObSent').val()

              },
              cache: false,
              success: function (data) {
                  showApiAlert(data);
                   onAlertCallback(reloadModel);
              },
              dataType: "json",
          });
          return;
      }

      function updateObservationDetailsWithReference(obsId){
          updateObservationDetails(obsId);
      }

      function reloadModel(){
          getEntityObservations();
          viewObservationDetails(g_obsId);
      }
     function saveObservationGistandRecommendation(){

         if ($('#gistPara_response_ObSent').val() == 0) {
             alert("Please enter Title of the Para to proceed");
             return;
         }

         if ($('#audRecommend_response_ObSent').val() == 0) {
             alert("Please enter Remarks / Root Cause/Corrective Measures to proceed");
              return;
         }

         $('#viewMemoModel_ObSent').modal('hide');

         $.ajax({
             url: g_asiBaseURL + "/ApiCalls/add_observation_gist_and_recommendation",
             type: "POST",
             data: {
                 'OBS_ID': g_obsId,
                 'AUDITOR_RECOMMENDATION': $('#audRecommend_response_ObSent').val(),
                 'GIST_OF_PARA': $('#gistPara_response_ObSent').val()

             },
             cache: false,
             success: function (data) {
                showApiAlert(data);
                   onAlertCallback(reloadModel);
             },
             dataType: "json",
         });

     }
     function submitPreConcluding() {

         var flag = 0;
         $('.preconcludingStatusField').each(function (i, v) {

             if ($(v).html() == "Pending")
                 flag++;
         });

         if (flag > 0) {
             alert("Please add Audit Observation Gist and Recommendation for all observations first to proceed");
             return;
         }

         $.ajax({
             url: g_asiBaseURL + "/ApiCalls/submit_pre_concluding",
             type: "POST",
             data: {
                 'ENG_ID': $('#entitySelectField option:selected').val()

             },
             cache: false,
             success: function (data) {
                 showApiAlert(data);
                  onAlertCallback(reloadLocation);

             },
             dataType: "json",
         });
     }
</script>
<div class="row mt-3">
    <div>
        <center>
            <h3 style="color: #be0e43">Quality Assurance of Audit Para</h3>
        </center>
    </div>
    <div class="row col-md-12 mt-3">
        <div class="col-md-2">
            <label><b>Entity:</b></label>
        </div>
        <div class="col-md-10">
            <input id="entityNameField" disabled="disabled" class="form-control ml-1 d-none" type="text" />
            <select id="entitySelectField" onchange="getEntityObservations()" class="form-control form-select">
                <option value="0" id="0">--Select Audit Entity--</option>
                @{
                    if (ViewData["EntitiesList"] != null)
                    {
                        foreach (var item in (dynamic)(ViewData["EntitiesList"]))
                        {
                            <option value="@item.ENG_ID" id="@item.ENG_ID">@item.NAME</option>
                        }
                    }
                }

            </select>
            <input type="hidden" id="engIdHidden" value="0" />
        </div>
    </div>

    <table id="checklistDetailsPanel" class="table table-hover table-bordered table-hover mt-3 table-striped">
        <thead style="background-color: #19875478 !important; ">
            <tr>

                <th class="col-md-auto">Final Para No.</th>
                <th class="col-md-auto branchfield">Title of Para</th>
                <th class="col-md-auto">Risk Category</th>
                <th class="col-md-auto">Observation Status</th>
                <th class="col-md-auto">Pre Concluding Status</th>
                <th class="col-md-auto">Action</th>

            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="row col-md-12 mt-3" id="preConcludingActionHandler">
        <button onclick="submitPreConcluding();" class="col-md-3 btn btn-success" style="margin-left:10px;">Submit Pre Concluding</button>
    </div>
</div>



<div id="viewMemoDetailsModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger text-white">
                <h5 class="modal-title">Observation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group mb-3">
                        <label for="viewMemo_annex_ObSent" class="font-weight-bold">Annexure</label>
                        <select id="viewMemo_annex_ObSent" class="form-select form-control">
                            <option selected="selected" value="0" id="0">--Select Annexure--</option>
                            @{
                                if (ViewData["AnnexList"] != null)
                                {

                                    foreach (var item in (dynamic)(ViewData["AnnexList"]))
                                    {
                                        <option id="@item.ID" value="@item.ID">@item.ANNEX</option>
                                    }

                                }
                            }

                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="viewMemo_risk_display">Risk will be assigned on the basis of Selected Annexure</label>
                        <input id="viewMemo_risk_display" class="form-control" readonly />
                    </div>
                    <div class="form-group mb-3">
                        <label for="viewMemo_process_ObSent" class="font-weight-bold">Process</label>
                        <select id="viewMemo_process_ObSent" onchange="getSubCheckListOfProcess();" class="form-select form-control">
                            <option selected="selected" value="0" id="0">--Select Process--</option>
                            @{
                                if (ViewData["ProcessList"] != null)
                                {

                                    foreach (var item in (dynamic)(ViewData["ProcessList"]))
                                    {
                                        <option id="@item.T_ID" value="@item.T_ID">@item.HEADING</option>
                                    }

                                }
                            }

                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="viewMemo_subprocess_ObSent" class="font-weight-bold">Sub Process</label>
                        <select id="viewMemo_subprocess_ObSent" onchange="getCheckListDetailOfSubProcess();" class="form-select form-control">
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="viewMemo_checklist_ObSent" class="font-weight-bold">Checklist Details</label>
                        <select id="viewMemo_checklist_ObSent" class="form-select form-control">
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="viewMemo_paraNo_ObSent" class="font-weight-bold">Para No <small class="text-muted">(A-Z, 0-9, space, &amp;, ?)</small></label>
                        <input id="viewMemo_paraNo_ObSent" type="text" class="form-control alnum-only" placeholder="Para No (Alphabets, numbers, spaces, ampersand (&amp;), comma (,), and question mark (?) only)" data-allow-space="true" data-allow-amp="true" data-maxlen="50" maxlength="200" title="Enter only Alphabets (A-Z), numbers (0-9), spaces, ampersand (&amp;), comma (,), and question mark (?)" />
                        <small class="form-text text-muted">Enter only Alphabets (A-Z), numbers (0-9), spaces, ampersand (&amp;), comma (,), and question mark (?).</small>
                        <div class="invalid-feedback">Enter only Alphabets (A-Z), numbers (0-9), spaces, ampersand (&amp;), comma (,), and question mark (?).</div>
                    </div>


                    <div class="form-group mb-3">
                        <label for="viewMemo_heading_ObSent" class="font-weight-bold">Gist of Para <small class="text-muted">(A-Z, 0-9, space, &amp;, ?)</small></label>
                        <input id="viewMemo_heading_ObSent" type="text" class="form-control alnum-only" placeholder="Gist of Para (Alphabets, numbers, spaces, ampersand (&amp;), comma (,), and question mark (?) only)" data-allow-space="true" data-allow-amp="true" data-maxlen="500" maxlength="500" title="Enter only Alphabets (A-Z), numbers (0-9), spaces, ampersand (&amp;), comma (,), and question mark (?)" />
                        <small class="form-text text-muted">Enter only Alphabets (A-Z), numbers (0-9), spaces, ampersand (&amp;), comma (,), and question mark (?).</small>
                        <div class="invalid-feedback">Enter only Alphabets (A-Z), numbers (0-9), spaces, ampersand (&amp;), comma (,), and question mark (?).</div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="viewMemo_memo_ObSent" class="font-weight-bold">Para Text</label>
                        <input id="viewMemo_memo_ObSent" type="text" class="form-control" />
                    </div>
                    <div id="referenceSection" class="mt-3 p-3 border border-danger" style="margin-bottom:10px;">
                        <h6>References</h6>
                        <ul id="refList" class="list-group mb-3"></ul>
                        <button type="button" class="btn btn-success mb-3" id="saveBtn">Save</button>
                        <div id="searchSection">
                            <select id="refType" class="form-select mb-2">
                                <option value="0" selected>Please select reference</option>
                                <option value="Manual">Manual</option>
                                <option value="Policy">Policy</option>
                                <option value="Circular">Circular</option>
                            </select>
                            <div id="searchInputs" style="display:none;">
                                <input id="keyword" class="form-control mb-2" placeholder="keyword" />
                                <button type="button" class="btn btn-primary" id="searchBtn">Search</button>
                            </div>
                            <div id="manualInputs" style="display:none;">
                                <input id="manualName" class="form-control mb-2" placeholder="Manual/Policy Name" />
                                <input id="chapterSection" class="form-control mb-2" placeholder="Chapter No + Section" />
                                <button type="button" class="btn btn-primary" id="addManualBtn">Add</button>
                            </div>
                        </div>
                        <table class="table" id="resultTbl" style="display:none;">
                            <thead>
                                <tr>
                                    <th>TITLE</th>
                                    <th>Circular Date</th>
                                    <th>INSTRUCTIONS DETAILS</th>
                                    <th>KEYWORDS</th>
                                    <th>View Circular</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_amount_ObSent">Amount Involved <small class="text-danger fw-bold">(Non Decimal Numbers only) </small></label>
                        <input id="viewMemo_amount_ObSent" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_memo_ObSent" class="font-weight-bold">No. of Instances</label>
                        <input id="viewMemo_inst_ObSent" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label for="update_listofRespPersons" class="font-weight-bold">Responsible Personals</label>
                        <div class="col-md-12 pl-0 pr-0">
                            <div class="d-flex justify-content-end mb-2">
                                <button type="button" onclick="openResponsiblePPs();" class="rounded-circle btn btn-danger btn-sm" aria-label="Add responsible person">
                                    <i class="fa fa-plus text-white"></i>
                                </button>
                            </div>
                            <table id="update_listofRespPersons" class="table table-hover table-bordered table-hover mt-3 table-striped">
                                <thead style="background-color: #19875478 !important; ">
                                    <tr>
                                        <th class="col-md-auto font-weight-bold">Sr.No</th>
                                        <th class="col-md-auto font-weight-bold">P.P. No</th>
                                        <th class="col-md-auto font-weight-bold">Name</th>
                                        <th class="col-md-auto font-weight-bold">Loan Case</th>
                                        <th class="col-md-auto font-weight-bold">LC Amount</th>
                                        <th class="col-md-auto font-weight-bold">Account No.</th>
                                        <th class="col-md-auto font-weight-bold">ACC Amount</th>
                                        <th class="col-md-auto font-weight-bold">Remarks</th>
                                        <th class="col-md-auto text-center font-weight-bold action-col">Update</th>
                                        <th class="col-md-auto text-center font-weight-bold action-col">Delete</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                    </div>
                    <hr class="w-100 mt-2 mb-2" />
                    <div class="form-group">
                        <label for="viewMemo_response_ObSent" class="font-weight-bold">Auditee Response</label>
                        <div id="viewMemo_response_ObSent" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div id="evidenceViewer" class="input-field">
                        <label class="font-weight-bold">Evidences</label>
                        <div class="row col-md-12 mt-3 mb-3">
                            <div id="complianceCycleEvidences">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_aud_reply_ObSent" class="font-weight-bold">Auditor Reply</label>
                        <div id="viewMemo_aud_reply_ObSent" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label for="viewMemo_head_reply_ObSent" class="font-weight-bold">SVP AZ Reply</label>
                        <div id="viewMemo_head_reply_ObSent" disabled="disabled" style="height: auto; overflow-y: auto;" class="form-control"></div>
                    </div>
                    <div class="form-group">
                        <label for="gistPara_response_ObSent" class="font-weight-bold">Title of the Para <small class="text-muted">(Plain text only)</small></label>
                        <textarea type="text" id="gistPara_response_ObSent" class="form-control" maxlength="4000" placeholder="Enter Title of the Para"></textarea>
                        <small class="form-text text-muted">Use plain text only; HTML is not allowed.</small>

                    </div>
                    <div class="form-group">
                        <label for="audRecommend_response_ObSent" class="font-weight-bold">Root Cause/ Recommendation / Corrective Measure <small class="text-muted">(Rich text sanitized)</small></label>
                        <textarea type="text" id="audRecommend_response_ObSent" class="form-control" maxlength="4000" placeholder="Enter Root Cause / Recommendation / Corrective Measure"></textarea>
                        <small class="form-text text-muted">Formatting is sanitized before saving.</small>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="gist_recom_inc_pre_con" onclick="saveObservationGistandRecommendation(g_obsId);" type="button" class="btn btn-primary">Save Title & Recommendation</button>
                <button id="update_audit_obs_button" onclick="updateObservationDetailsWithReference(g_obsId);" type="button" class="btn btn-danger">Update Para Details</button>

                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="ResponsiblePPModel" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" style="min-width:95% !important" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-white">
                <h5 class="modal-title">Responsible Person</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">

                        <label class="form-control text-bold fw-bold text-center">Search Responsible By LC Number</label>

                        <div class="row col-sm-12">
                            <div class="col-sm-5">
                                <label for="viewMemo_memo">Loan Case No.</label>
                                <input type="text" class="form-control digits-only" id="responsibleLCNoEntryField" inputmode="numeric" pattern="[0-9]*" autocomplete="off" />
                            </div>
                                <div class="col-sm-5">
                                    <label for="responsibleBrCodeEntryField">Branch Code <small class="text-muted">(0-9 only)</small></label>
                                    <input type="text" class="form-control digits-only" id="responsibleBrCodeEntryField" aria-describedby="brcode" placeholder="Branch Code (digits only)" inputmode="numeric" pattern="[0-9]*" autocomplete="off" />
                                </div>
                            <div class="col-sm-2 d-flex align-items-end">
                                <button onclick="respSection.getLCDetails();" type="button" class="btn btn-danger w-100">Find</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="matchedPPNoPanels" style="padding:20px;">
                        </div>
                    </div>
                    <div class="form-group">

                        <label class="form-control text-bold fw-bold text-center">Search Responsible By PP No.</label>

                                                <div id="findBYPPNOPanel" class="mt-2 row col-md-12">
                            <div class="col-md-2">
                                <label for="responsiblePPNoEntryField" class="form-label">PPNO</label>
                                <input id="responsiblePPNoEntryField" class="form-control digits-only" type="text" placeholder="Enter PP. No." inputmode="numeric" pattern="[0-9]*" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label for="responsibleLoanNumberEntryField" class="form-label">Loan Case No</label>
                                <input id="responsibleLoanNumberEntryField" class="form-control digits-only" type="text" placeholder="Enter LC No." inputmode="numeric" pattern="[0-9]*" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label for="responsibleLoanAmountEntryField" class="form-label">Loan Amount</label>
                                <input id="responsibleLoanAmountEntryField" class="form-control digits-only" type="text" placeholder="Enter LC Amount" inputmode="numeric" pattern="[0-9]*" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label for="responsibleAccountNumberEntryField" class="form-label">Account No</label>
                                <input id="responsibleAccountNumberEntryField" class="form-control digits-only" type="text" placeholder="Enter Account Number" inputmode="numeric" pattern="[0-9]*" autocomplete="off" />
                            </div>
                            <div class="col-md-2">
                                <label for="responsibleAccountAmountEntryField" class="form-label">Account Amount</label>
                                <input id="responsibleAccountAmountEntryField" class="form-control digits-only" type="text" placeholder="Enter Account Amount" inputmode="numeric" pattern="[0-9]*" autocomplete="off" />
                            </div>
                            <div class="col-md-2 d-flex align-items-end">
                                <button type="button" onclick="respSection.getMatchedPP();" class="col-md-2 btn btn-success w-100">Select</button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="matchedPPNoPanelsBYPP" style="padding:20px;">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="addResponsibleButton" type="button" class="btn btn-danger">Add Responsibility</button>
                <button id="updateResponsibleButton" type="button" class="btn btn-success d-none">Update Responsibility</button>
                <button id="deleteResponsibleButton" type="button" class="btn btn-danger d-none">Delete Responsibility</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/js/responsibilitySection.js"></script>
}
