@model IEnumerable<AIS.Models.ParaModel>
<table class="table table-hover table-bordered table-striped">
    <thead style="background-color: #19875478 !important;">
        <tr>
            <th class="col-md-1">Audit Year</th>
            <th class="col-md-1">Para No</th>
            <th class="col-md-1">Annexure</th>
            <th class="col-md-5">Title</th>
            <th class="col-md-1">Risk</th>
            <th class="col-md-1">Status</th>
            <th class="col-md-auto">Action</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.AuditYear</td>
                    <td>@item.ParaNo</td>
                    <td>@item.Annexure</td>
                    <td>@item.Title</td>
                    <td>@item.Risk</td>
                    <td>
                        <span class="@(item.Status == 9 ? "text-success" : "text-danger")">
                            @(item.Status == 9 ? "Settled" : "Unsettled")
                        </span>
                    </td>
                    <td class="text-center"><a href="#" class="text-primary" onclick="event.preventDefault();viewParaText('@item.ComId');">View Para Text</a>   |   <a href="#" class="text-danger" onclick="event.preventDefault();openChangeStatusModal('@item.ComId', @item.Status);">Change Status</a></td>
                </tr>
            }
        }
    </tbody>
</table>
